<section class="contact-section" id="contact">
    <div class="contact-container">
    <div class="header-wrapper">
        <p class="subtitle-p">// Let's Talk</p>
        <h2 class="header-p">Looking for a developer who cares about what happens after launch?</h2>
    </div>
        <div class="contact-info">
            <div class="contact-line">
                <span class="dot"></span>
                <a href="mailto:eva.semini15@gmail.com">eva.semini15gmail.com</a>
            </div>
            <div class="contact-line">
                <span class="dot"></span>
                <a href="mailto:eva.semini15@gmail.com">+355 69 253 6532</a>
            </div>
            <div class="contact-line">
                <span class="dot"></span>
                <a href="www.linkedin.com/in/eva-s-9a8639194">LinkedIn</a>
            </div>
        </div>
    </div>
</section>