<section class="skills-section" id="skills">
    <div class="skills-container">
    <div class="header-wrapper">
        <p class="subtitle-p">// Stack</p>
        <h2 class="header-p">Skills</h2>
    </div>
        <div class="skills-section-patch">
            <div class="skills-patch">
                <p class="skills-stack">Frontend</p>
                <div class="tech-container">
                    <p class="tech">HTML5</p>
                    <p class="tech">CSS</p>
                    <p class="tech">SCSS</p>
                    <p class="tech">JavaScript</p>
                    <p class="tech">TypeScript</p>
                    <p class="tech">Angular</p>
                </div>
            </div>
            <div class="skills-patch">
                <p class="skills-stack">CMS & E-commerce</p>
                <div class="tech-container">
                    <p class="tech">WordPress</p>
                    <p class="tech">Shopify</p>
                    <p class="tech">WebFlow</p>
                    <p class="tech">Wix</p>
                </div>
            </div>
            <div class="skills-patch">
                <p class="skills-stack">Infrastructure & DevOps</p>
                <div class="tech-container">
                    <p class="tech">DNS Management</p>
                    <p class="tech">Cloudflare</p>
                    <p class="tech">Hosting Setup</p>
                    <p class="tech">Deployment</p>
                </div>
            </div>
            <div class="skills-patch">
                <p class="skills-stack">Backend</p>
                <div class="tech-container">
                    <p class="tech">Java - in progress</p>
                </div>
            </div>
        </div>    
    </div>
</section>